.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px dashed #ff751d;
  animation: rotate 1s infinite linear;
  margin: 0 auto;
}

.containerLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 160, 120, 0.2);
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }

  to {
    transform: rotate(360deg) scale(1.6);
  }
}
