@media screen and (min-width: 320px) {
  .containerFormM {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .calculatorIcon {
    cursor: pointer;
  }

  .iconForm {
    position: absolute;
    top: 50%;
    right: 20px;
  }

  .iDescriptions {
    width: 282px;
    height: 44px;
    border-radius: 16px 16px 0 0;
    padding-left: 21px;
    border: 2px solid #fff;
    background-color: #f5f6fb;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #000;
    outline: none;
  }

  .iDescriptions::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .iDescriptions::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .iDescriptions::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .iDescriptions:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .iAmount {
    width: 125px;
    height: 44px;
    padding-left: 25px;
    border: 2px solid #fff;
    border-right: 0px;
    color: #000;
    background-color: #f5f6fb;
    border-radius: 22px 0px 0px 22px;
    outline: none;
  }

  .iAmount::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }

  .iAmount::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }

  .iAmount::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }
  .iAmount::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #c7ccdc;
    font-size: 12px;
    line-height: 14px;
  }

  .wrapperInputA {
    display: flex;
    flex-direction: row;
    margin-left: 18%;
    margin-top: 30px;
    background-image: url(../../../imges/svg/calculator.svg);
    background-position: right 31% top 50%;
    background-repeat: no-repeat;
  }

  .wrapperIcon {
    position: relative;
    width: 60px;
    height: 44px;
    border: 2px solid #fff;
    border-radius: 0 22px 22px 0;
  }

  /* .wrapperIconMob {
    background-image: url(../../../imges/svg/calculator.svg);
    background-position: right 20% top 50%;
    background-repeat: no-repeat;
  } */

  .wrapperBtn {
    margin-top: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .containerFormT {
    display: flex;
    width: 604px;
    flex-direction: column;
  }
  .wrapperFT {
    display: flex;
    /* width: 467px; */
    justify-content: space-between;
    margin: 0 auto 30px;
  }

  .wrapperInput {
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 467px;
  }

  .iDescriptions {
    border: 2px solid #f5f6fb;
    background-color: #fff;
    border-right: 0px;
    width: 192px;
    border-radius: 16px 0 0 0;
  }

  .lDescriptions {
    width: 192px;
  }

  .lSelect {
    display: flex;
    align-items: center;
  }

  .iAmount {
    border: 2px solid #f5f6fb;
    border-left: 0px;
    width: 104px;
    border-radius: 0 16px 16px 0;
    background-color: #fff;
    padding-right: 45px;
    text-align: right;
    background-image: url(../../../imges/svg/calculator.svg);
    background-position: right 15% top 50%;
    background-repeat: no-repeat;
  }

  .wrapperBtn {
    margin-top: 0px;
    margin-bottom: 48px;
  }

  .wrapperIcon {
    width: 100%;
    border: 0;
  }
}

@media screen and (min-width: 1280px) {
  .containerFormD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 59px;
  }

  .wrapperInput {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .lDescriptions {
    width: 289px;
  }

  .iDescriptions {
    padding-left: 21px;
    height: 44px;
    width: 290px;

    display: flex;
    align-items: center;
  }

  /* .lSelect {
    width: 189px;
  } */

  .inputSum {
    width: 126px;
    text-align: center;
    padding-left: 5px;
  }

  .lAmount {
    height: 44px;
  }

  .selected {
    height: 44px;
    width: 188px;
    border: 2px solid #f5f6fb;
    border-left: 0px;
  }
  .iAmount {
    height: 44px;
    width: 125px;
    border: 2px solid #f5f6fb;
    border-left: 0px;
    box-sizing: border-box;
  }

  .wrapperBtn {
    margin-bottom: 0;
  }
  /* .wrapperFD {
  margin-right: 23px;
 */
}
