.balSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.balTitle {
  font-size: 12px;
  color: #52555f;
  background-color: #f5f6fb;
  font-weight: 500;
  margin-bottom: 6px;
}
.balMain {
  font-size: 12px;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .balSection {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .balTitle {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
