.link {
  display: flex;
  gap: 18px;
  color: rgba(82, 85, 95, 0.7);
  padding: 15px 0 15px 3px;
}

.link:hover,
.link:focus {
  color: #ff751d;
}

@media screen and (max-width: 1279px) {
  /* .toGoBack {
    margin-right: auto;
  } */
}
