.link {
  padding: 15px 5px 15px 0;
  color: #52555f;
}

.link:focus,
.link:hover {
  color: #ff751d;
}

.iconReport {
  fill: #52555f;
  margin-left: 20px;
}

.link:focus .iconReport,
.link:hover .iconReport {
  fill: #ff751d;
}

@media screen and (min-width: 768px) {
  /* .title {
    letter-spacing: 0.04em;
  } */

  /* .link {
    display: flex;

    letter-spacing: 0.04em;


  } */
}
