.myBtn {
  text-align: center;
  width: 125px;
  height: 44px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1, 17;
  text-transform: uppercase;

  border-radius: 16px;

  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;

  transition: transform 250ms ease;
}

.myAccentBtn {
  composes: myBtn;
  background: #ff751d;
  border: 2px solid #ff751d;
  color: #ffffff;
}

.myMinorBtn {
  composes: myBtn;
  background: #ffffff;
  border: 2px solid #f6f7fc;
}

.myAccentBtn:hover,
.myAccentBtn:focus,
.myMinorBtn:hover,
.myMinorBtn:focus {
  transform: scale3d(1.1, 1.1, 1.1);
}
