.myBtn,
.myActivBtn {
  text-align: center;
  width: 125px;
  height: 44px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 0.86;
  text-transform: uppercase;

  border: 2px solid #f6f7fc;
  border-radius: 16px;
  background: #ffffff;

  padding-top: 12px;
  padding-bottom: 12px;
  margin: 15px;
  cursor: pointer;
}

.myActivBtn {
  background: #ff751d;
  border-radius: 16px;
}
