.reportNav {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reportMain {
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 60px 0px rgba(170, 178, 197, 0.2);
  padding-top: 20px;
}
.reportArrow {
  cursor: pointer;
  color: #ff751d;
}

.reportTitle {
  margin: 0 15px;
  min-width: 110px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #000000;
}
