.logo {
  width: 90px;
  height: 31px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  padding: 12px 19px 13px 19px;
}

@media screen and (min-width: 768px) {
  .HeaderContainer {
    padding: 12px 26px 13px 26px;
  }
}

@media screen and (min-width: 1280px) {
  .HeaderContainer {
    padding: 12px 26px 13px 26px;
  }
}
