.icon {
  width: 32px;
  height: 32px;

  margin-right: 16px;
}

.iconExit {
  width: 12px;
  height: 16px;

  cursor: pointer;
}

/* .iconExit:focus,
.iconExit:hover {
  color: #FF751D;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
