.icon {
  width: 32px;
  height: 32px;
}

.iconExit {
  width: 12px;
  height: 16px;

  cursor: pointer;
}

.exitBtn {
  padding: 20px 19px 20px 15px;
  background: none;
}

/* .iconExit:focus,
.iconExit:hover {
  color: #FF751D;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
