.myTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.myAccentTitle {
  composes: myTitle;
  color: #ff751d;
}

.myMinorTitle {
  composes: myTitle;
  color: #000000;
}
